{% if page.background %}
<style>
  html {
    background-image: url({{site.baseurl}}/images/{{page.background}});
    background-repeat: no-repeat;
    background-position: {% if page.background-position %} {{ page.background-position }} {% else %} center center {% endif %};
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>
{% endif %}

