---
---
html {
  background-image: url({{site.baseurl}}/images/hawk_over_kathmandu.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #334;
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}

p {
  margin-bottom: 20px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: #444450;
  font-size: 26px;
  line-height: 40px;
  margin: 0 0 20px;
}

#post {
  margin: 100px auto 40px 40%;
  width: 400px;
  padding: 20px;
  background: rgba(255,255,255,0.8);
}

#postdate {
  color: #9999aa;
}

#footer {
  margin: 0 0 100px 40%;
  width: 400px;
  padding: 10px 20px;
  background: rgba(240, 240, 255, 0.3);
}
