---
---
html {
  background-image: url({{site.baseurl}}/images/barun.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #334;
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}

#about {
  position: absolute;
  bottom: 100px;
  right: 50px;
}
#about p {
  font-size: 20px;
  line-height: 30px;
}
h1 {
  font-size: 40px;
  line-height: 60px;
  font-family: 'Oswald', sans-serif;
  color: #444450;
}
h1 + p {
  margin-top: 0;
}
#footer {
  display: none;
}
